.brief-item {
    padding: 10px;
}

.raleway {
    font-family: 'Raleway';
}

.vl {
    border-left: 1px solid white;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 5%;
}

.biopicture {
    height: 125px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    margin-bottom: 20px;
}

.no-bullets {
    list-style-type: none;
}