.btn-retro {
    color: black;
    background-color: rgb(88, 202, 255);
    border: 2px solid black;
    height: 60px;
}

.btn-retro:hover {
    color: rgb(88, 202, 255);
    background-color:black;
    border: 2px solid rgb(88, 202, 255);
}

.dropdown-menu {
    background-color:rgb(88, 202, 255);
    width:100%;
}

.textlarge {
    font-size: 20px;
}