.aircraftContainer {
    width: 100vh; 
    overflow: visible; 
    position: absolute;
    top: 25vh;
    z-index: -1;
}
  
.aircraft {
    position: absolute; 
    left: -350px;
    text-align: center; 
    width: 20px;
    animation: AircraftSlide infinite;
        -webkit-animation: AircraftSlide infinite; 
        -moz-animation: AircraftSlide infinite;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 60s;
}
  
@keyframes AircraftSlide {from {position: absolute; left: 0px;} to {position: absolute; left: 2500px;}}