.avatar-container {
    width: 100%;
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 1px solid white;
}

.socialicons {
    width: 100%;
    padding: 0% 10%;
}

.socialicon, .socialicon:hover {
    font-size: 25px;
    color: rgb(250, 95, 255);
    text-decoration: none;
    text-shadow: 3px 3px 1px #000;
}

@media (min-width: 768px) {
    .avatar {
        height: 100px;
        width: 100px;
        border: 2px solid white;
    }

    .avatar-container {
        padding-top: 1.25rem;
    }
}