html {
  height: 100vh;
  padding: 10px;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Arcade Classic', 'Raleway', sans-serif;
  background: url('images/bg.jpg');
  background-size: cover;
  background-position: top;
  background-color: #000000;
  cursor:url('./images/cursor.png'), auto;
}

.headerarea {
  height: 30vh;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.gamearea {
  height: 70vh;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}