html {
  height: 100vh;
  padding: 10px;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Arcade Classic', 'Raleway', sans-serif;
  background: url('images/bg.jpg');
  background-size: cover;
  background-position: top;
  background-color: #000000;
  cursor:url('./images/cursor.png'), auto;
}

.headerarea {
  height: 30vh;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.gamearea {
  height: 70vh;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.textblue {
  color: rgb(88, 202, 255);
}

.textyellow {
  color: rgb(255, 175, 25);
}

.breakyellow {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  width: 90%;
  padding: 0px;
  margin: 0px;
}

.pagebox {
  background: rgba(0, 0, 0, 0.8);
  background-image: radial-gradient(ellipse at 50px 10px , rgba(100,100,100,0.1) 0%, rgba(100,100,100,0.1) 1%, rgba(0,0,0,0.5) 100%);
  border: 1px solid rgb(150,150,150,0.2);
  padding: 20px;
  height: 500px;
}

.textspaced {
  word-spacing: 10px;
  letter-spacing: 2px;
}